html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  font-family: "Nunito", sans-serif;
}

.coin-info {
  background-color: bisque;
  width: 30vw;
  margin: 5rem;
  padding: 3rem;
}

.heading {
  font-size: 3rem;
}

.para {
  font-size: 2rem;
}

#image {
  margin: auto;
  padding: 2rem;
}
